.app {
  display: flex;
}

.main-content {
  margin-left: 250px; /* space for sidebar */
  padding: 20px;
  flex: 1;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
